.subscribe-form {
    &__title {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.1rem;


        @media (min-width: 576px) {
            margin-bottom: 1.5rem;    
        }
    }
}