.footer {
    padding: 50px 0;
    border-top: solid 1px #ddd;

    &__copyright, 
    &__powered-by {
        text-align: center;
    }
    &__powered-by {
        font-size: .9rem;
        color: #bbb;
    }
}